@{
    ViewBag.Title = "Home Page";
    //ViewBag.Message = TempData["Message"];

}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}

<main class="text-center">

    <h1>Gestionale Pizzeria</h1>

    <img class="border border-3" src="https://www.pizzeriadamichelefirenze.it/wp-content/uploads/2018/03/pizze-head-2-1024x576.jpg" alt="Le pizze | Antica Pizzeria Da Michele Firenze" />



</main>