@{
    ViewBag.Title = "Home Page";
    //ViewBag.Message = TempData["Message"];

}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}

<main class="text-center px-4 ">

    <h1 class="fst-italic">Pizzeria <strong>'in forno'</strong></h1>
    <div.container-fluid-vh-100>
        <div class="row ">
            <div class="col-12 col-sm-6">
                <p class="container-sfumato fst-italic">
                    Dove ogni pizza è un'opera d'arte! Prepariamo con passione
                    pizze cotte nel forno a legna, utilizzando solo ingredienti
                    freschi e di alta qualità.
                    Assapora la differenza, scegli In Forno.
                </p>
            </div>

            <div class="col-12 col-sm-6">
                <div class="card5">
                    <div class="card5-img-container">
                        <img id="home-img" class="" src="https://www.pizzeriadamichelefirenze.it/wp-content/uploads/2018/03/pizze-head-2-1024x576.jpg" alt="Le pizze | Antica Pizzeria Da Michele Firenze" />
                    </div>
                    <div class="card5-details">
                        <label>Elenco pizze</label>
                        <p>
                            Conosci le nostre pizze, le nostre specialità e i nostri prodotti. Scopri la nostra offerta e scegli la tua pizza preferita.
                        </p>
                    </div>
                </div>
            </div>
        </div>




</main>